.users-show-page {
  width: 100%;
  margin-top: 60px;

  img {
    position: relative;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    border-radius: 50%;
  }

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
  }
}

.user-info {
  margin-top: 20px;
  height: 40px;
  
  img {
    float: left;
    width: 40px;
    border-radius: 50%;
  }
  h1 {
    font-size: 12px;
    font-weight: 600;
    padding-top: 7px;
    padding-left: 45px;
  }
}