.dropdown-content {
  max-height: 0;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: white;
  z-index: 9999;
  color: black;
  overflow-y: hidden;
  right: 0;
  left: auto;
  text-align: right;
  margin-top: 31px;
  transition: max-height .5s ease-out;
}

.dropdown:hover .dropdown-content {
  display: block;
  max-height: max-content;
  max-height: 100vh;
  transition: max-height 1s
}

.dropdown-btn {
  cursor: pointer;
} 

.drop-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.drop-item:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
}