.edit-pin {
  .modal-child {
    width: 620px;
    min-height: 300px;
    border-radius: 30px;
  }
}

.edit-pin-page {
  border-radius: 12px;
  margin: 25px 50px 30px 30px;
  text-align: center;

  h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
  }
}

.edit-form-body {
  display:flex;
}

.edit-form-right {
  height: 100%;
  img {
    float: right;
    width: 220px;
    border-radius: 5px;
    margin-left: 20px;
    vertical-align: middle;
  }
}

.edit-form-details {
  text-align: left;
  width: 320px;

  .form-input-item {
    height: 40px;
  }

  label {
    font-size: 13px;
    font-weight: 100;
  }

  input {
    font-size: 15px;
    padding: 10px;
    width: 200px;
    margin-left: 20px;
    border-radius: 10px;
    float: right;
    border: 1px solid lightgrey;
  }
}

.edit-form-footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  width: 50%;

  .left-footer {
    float: left;
  }

  .right-footer {
    float: right;
  }
}

.left-footer > button, .right-footer > button {
  cursor: pointer;
  font-size: 15px;
  font-weight: 650;
  border-radius: 20px;
  padding: 10px;
}

.delete-cancel {
  background-color: #f1f1f1;
  color: black;
}

.save {
  background-color: #DD011B;
  color: white;
  margin-left: 7px;
}