.edit-pinboard-header {
  margin-top: 20px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  padding: 15px 0 15px 0;
  border-bottom: 2px solid rgb(241, 241, 241);
  box-shadow: 0 1px 2px -1px rgb(235, 232, 232);
}

.edit-pinboard-details {
  text-align: left;
  margin: 30px 0 0 37px;

  label {
    display: flex;
    font-size: 13px;
    font-weight: 200;
    color: rgb(96, 96, 96);
  }

  input { 
    border: 1px solid lightgrey;
    border-radius: 15px;
    width: 85%;
    height: 40px;
    margin: 18px 0 20px -25px; 
    padding-left: 7px;
  }

  h1 {
    cursor: pointer;
    margin: 2px 0 5px 0;
    font-size: 18px;
    font-weight: 700;
  }

  p {
    color: rgb(138, 138, 138);
    font-size: 14px;
    font-weight: 100;
  }
}

.save-pinboard-edit {
  float: right;
  background-color: #DD011B;
  color: white;
  font-size: 16px;
  font-weight: 650;
  border-radius: 20px;
  padding: 11px;
  margin: 40px 30px 20px 20px;
}