.navbar {
  padding-top: 10px;

  .left-nav {
    float: left;
    padding-left: 15px;
  }

  .right-navbar {
    float: right;
    padding-right: 15px;
  }
}

.logo {
  margin-top: 3px;
  width: 35px;
}

.left-home-nav {
  float:right;
  color: black;
}

.left-nav > p {
  float: right;
  color: #DD011B;
  padding-top: 12.5px;
  font-weight: 600;
}

.login-signup > button, .home-button{
  font-size: 13px;
  font-weight: 650;
  border-radius: 15px;
  padding: 9px;
}

.signup-button {
  background-color: #f1f1f1;
  color: black;
}

.login-button {
  background-color: #DD011B;
  color: white
}

.home-button {
  float: right;
  color: black;
  margin-top: 3px;
}

.home-button:hover {
  background-color: #f1f1f1;
}

.header-user-icon {
  width: 35px;
  height: 35px;
  img {
  position: relative;
  left: 25%;
  width: 25px;
  border-radius: 50%;
  margin: 5px 0 0 -3px;
  }

  button {
    float: left;
  }
}

.header-user-icon:hover {
  background-color: #f1f1f1;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}