.navbar {
  padding-top: 10px;
  height: 65px;
  border-bottom: 2px solid rgb(241, 241, 241);
  box-shadow: 0 0 10px rgb(235, 232, 232);
  .left-nav {
    float: left;
    padding-left: 15px;
  }

  .right-navbar {
    float: right;
    padding-right: 20px;
    margin-top: 10px;
  }
}

.logo {
  margin-top: 3px;
  width: 45px;
  margin-right: 5px;
}

.left-home-nav {
  float:right;
  color: black;
}

.left-nav > p {
  float: right;
  color: #DD011B;
  padding-top: 15px;
  font-weight: 600;
  font-size: 20px;
}

.login-signup > button, .home-button{
  font-size: 16px;
  font-weight: 650;
  border-radius: 20px;
  padding: 11px;
  margin: -2px 7px 0 0;
}

.signup-button {
  background-color: #f1f1f1;
  color: black;
}

.login-button {
  background-color: #DD011B;
  color: white
}

.home-button {
  float: right;
  color: black;
  margin-top: 7px;
}

.home-button:hover {
  background-color: #f1f1f1;
}

.header-user-icon {
  width: 40px;
  height: 40px;
  float: left;
  img {
    position: relative;
    float: left;
    left: 25%;
    width: 30px;
    border-radius: 50%;
    margin: 5px 0 0 -5px;
  }
}


.header-user-icon:hover {
  background-color: #f1f1f1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.dropdown {
  float: left;
}

.dropdown-content {
  /* display: none; */
  max-height: 0;
  position: absolute;
  // background-color: #fdfdfd;
  border-radius: 5px;
  width: 227px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  color: #6B6E76;
  font-weight: 300;
  overflow-y: hidden;
  right:0;
  left: auto;
  text-align: right;
  transition: max-height .5s ease-out;
  margin-top: 31px;
}

.dropdown:hover .dropdown-content {
  display: block;
  max-height: 100vh;
  transition: max-height 1s
}

.dropdown-btn {
  cursor: pointer;
  width: 40px;
} 

.drop-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  margin: 0 8px;
  padding: 16px 8px;
  transition: color .3s;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.drop-item:hover {
  background-color: rgb(32, 178, 170);
  color: white;
}

.user-shortcut {
  img {
    float:left;
    border-radius: 50%;
    width: 50px;
    margin: 10px;
  }
} 
