.navbar {
  padding-top: 10px;

  .left-nav {
    float: left;
    padding-left: 15px;
  }

  .right-navbar {
    float: right;
    padding-top: 10px;
    padding-right: 15px;
  }
}

.logo {
  width: 40px;
}

.left-home-nav {
  float:right;
  color: black;
}

.left-nav > p {
  float: right;
  color: #DD011B;
  padding-top: 12.5px;
  font-weight: 600;
}

.login-signup > button, .home-button{
  font-size: 13px;
  font-weight: 650;
  border-radius: 15px 15px 15px 15px;
  padding: 9px;
}

.signup-button {
  background-color: #EBEBEB;
  color: black;
}

.login-button {
  background-color: #DD011B;
  color: white
}

.home-button {
  float: right;
  color: black;
  margin-top: 3px;
}

.home-button:hover {
  background-color: #EBEBEB;
}
