.index-page-listings {
  margin: 40px 80px 30px 0px;
  columns: 220px;
}

.pin-index-item {
  margin-bottom: 10px;
}

figure {
  width: 100%;
  display: inline-block;

  img {
    width: 100%;
    margin-top: -10px;
    border-radius: 15px;
    cursor: pointer;
  }

  figcaption {
    font-size: 12px;
    font-weight: 550;
  }
}

.create-pinning-form {
  display:none;
  position: absolute;
  width: 100%;
}

.form-container {
  width: 100%;
  position: relative;
}

.save-btn {
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 15px;
  color: white;
  background-color: #DC011B;
  font-size: 16px;
  font-weight: 650;
  border-radius: 20px;
  padding: 11px;
}

figure:hover .pin-img{
  z-index: -1;
  filter: brightness(80%);
}

figure:hover .create-pinning-form {
  z-index: 1;
  display: block;
  cursor: pointer;
}

.down-arrow {
  z-index: 1;
  width: 30px;
  margin-top: 2px;
}

.fa-chevron-down {
  color: white;
  margin-top: 10px;
}

.remove-pin {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 15px;
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  font-weight: 650;
  border-radius: 20px;
  padding: 11px;
  z-index: 1;
}

figure:hover .remove-pin {
  z-index: 1;
  display: block;
  cursor: pointer;
}

figure:hover .pinning-drop-btn {
  z-index: 1;
  display: block;
  cursor: pointer;
}