.pinboard-items {
  float: left;
  width: 100%;
  padding: 20px 80px 50px 80px;
}

.pinboard-index-item {
  float: left;
  margin: 0 20px 70px 0;
  border-radius: 15px;
  width: 250px;
  height: 200px;

  .left-photo {
    height: 200px;
    width: 49.5%;
    border-radius: 15px 0 0 15px;
  }
}

.right-photos {
  float: right;
  width: 49.5%;

  img {
    max-width: 100%;
    // height: auto;
  }

  .pinboard-img {
    margin-top: -30%;
  }

  .right-photo {
    height: 99px;
    width: 100%;
    border-radius: 0 15px 0 0;
    overflow: hidden;
  }

  .bottom-photo {
    border-radius: 0 0 15px 0;
    margin-top: 2px;
  }
}