.users-show-page {
  width: 100%;
  margin-top: 60px;
}

.user-show-info {
  img {
    position: relative;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    border-radius: 50%;
  }

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
  }
}
.user-info {
  margin-top: 20px;
  height: 40px;
  
  img {
    float: left;
    width: 40px;
    border-radius: 50%;
  }
  h1 {
    font-size: 12px;
    font-weight: 600;
    padding-top: 7px;
    padding-left: 45px;
  }
}

.add-item-dropdown {
  float: right;
}

.dropdown-container {
  margin-right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.plus-img {
  height: 23px;
  margin: 13.5px 0 0 13.5px;
}

.dropdown-container:hover {
  background-color: #f1f1f1;
}

.create-content {
  text-align: left;
  border-radius: 15px;
  width: 150px;
  font-weight: 300;
  margin: 10px 40px 0 0;
  padding: 0 10px 0 20px;

  h1 {
    margin: 20px 0 10px 0;
    font-size: 13px;
    color: rgb(93, 93, 93);
    font-weight: 200;
  }

  .create-item {
    font-size: 16px;
    font-weight: 800;
    padding: 8px 0 8px 10px;
    margin-left: -10px;
  }
  
  .bottom {
    height: 10px;
  }
}
